.App {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  padding: 0;
  border-radius: 20px;
  width: 600px;
  height: 500px;
  background-color: rgb(28, 28, 45);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.screen {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 20px;
  width: 550px;
  height: 80px;
  text-align: right;
  color: white;
  font-size: 50px;
  font-weight: 300;
}

.btns {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  outline: none;
  color: 0;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
}

.sideOne button {
  width: 120px;
  height: 70px;
  font-weight: 600;
  background-color: rgb(202, 46, 163);
  color: rgb(28, 28, 45);
}

.bttn1 {
  display: flex;
  flex-wrap: wrap;
}

.bttn1 button {
  color: white;
  width: 200px;
  height: 70px;
  background-color: rgb(28, 28, 45);
}

.bttn1 button:hover {
  background-color: rgb(61, 61, 95);
}